<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <!-- 登录Servlet配置 -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.imut.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
<!--   教师维护Servlet配置 -->
  <servlet>
    <servlet-name>ListAllTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.ListAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllTeacherServlet</servlet-name>
    <url-pattern>/base/listAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/base/addTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.CheckTeacherServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>CheckTeacherServlet</servlet-name>
    <url-pattern>/base/checkTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.ShowTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeacherServlet</servlet-name>
    <url-pattern>/base/showTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/base/updateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.imut.servlet.base.DelTeacherServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/base/deleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <!--  个人信息管理配置 -->
  <servlet>
    <servlet-name>ShowPersonServlet</servlet-name>
    <servlet-class>com.imut.servlet.person.ShowPersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPersonServlet</servlet-name>
    <url-pattern>/person/showPersonServlet</url-pattern>
  </servlet-mapping>
  <!-- 班级信息维护配置 -->
  <servlet>
    <servlet-name>listClass</servlet-name>
    <servlet-class>com.imut.servlet.base.ListAllClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listClass</servlet-name>
    <url-pattern>/base/listAllClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addClass</servlet-name>
    <servlet-class>com.imut.servlet.base.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addClass</servlet-name>
    <url-pattern>/base/addClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteClass</servlet-name>
    <servlet-class>com.imut.servlet.base.DelClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteClass</servlet-name>
    <url-pattern>/base/deleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showClass</servlet-name>
    <servlet-class>com.imut.servlet.base.ShowClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showClass</servlet-name>
    <url-pattern>/base/showClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateClass</servlet-name>
    <servlet-class>com.imut.servlet.base.UpdateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateClass</servlet-name>
    <url-pattern>/base/updateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkClass</servlet-name>
    <servlet-class>com.imut.servlet.base.CheckClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkClass</servlet-name>
    <url-pattern>/base/checkClassServlet</url-pattern>
  </servlet-mapping>
  <!-- 课程维护Servlet配置 -->
    <servlet>
	  <servlet-name>listCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.ListAllCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>listCourse</servlet-name>
	  <url-pattern>/base/listAllCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>addCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.AddCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>addCourse</servlet-name>
	  <url-pattern>/base/addCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>deleteCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.DelCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>deleteCourse</servlet-name>
	  <url-pattern>/base/deleteCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>showCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.ShowCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>showCourse</servlet-name>
	  <url-pattern>/base/showCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>updateCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.UpdateCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>updateCourse</servlet-name>
	  <url-pattern>/base/updateCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>checkCourse</servlet-name>
	  <servlet-class>com.imut.servlet.base.CheckCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>checkCourse</servlet-name>
	  <url-pattern>/base/checkCourseServlet</url-pattern>
	</servlet-mapping>
	<!-- 学生维护Servlet配置 -->
    <servlet>
	  <servlet-name>listStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.ListAllStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>listStudent</servlet-name>
	  <url-pattern>/base/listAllStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>addStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>addStudent</servlet-name>
	  <url-pattern>/base/addStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>deleteStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.DelStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>deleteStudent</servlet-name>
	  <url-pattern>/base/deleteStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>showStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.ShowStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>showStudent</servlet-name>
	  <url-pattern>/base/showStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>updateStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>updateStudent</servlet-name>
	  <url-pattern>/base/updateStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>checkStudent</servlet-name>
	  <servlet-class>com.imut.servlet.base.CheckStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>checkStudent</servlet-name>
	  <url-pattern>/base/checkStudentServlet</url-pattern>
	</servlet-mapping>
	<!-- 课程安排维护Servlet配置 -->
    <servlet>
	  <servlet-name>listArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.ListAllArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>listArrange</servlet-name>
	  <url-pattern>/arrange/listAllArrangeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>addArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.AddArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>addArrange</servlet-name>
	  <url-pattern>/arrange/addArrangeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>deleteArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.DelArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>deleteArrange</servlet-name>
	  <url-pattern>/arrange/deleteArrangeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>showArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.ShowArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>showArrange</servlet-name>
	  <url-pattern>/arrange/showArrangeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>updateArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.UpdateArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>updateArrange</servlet-name>
	  <url-pattern>/arrange/updateArrangeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>checkArrange</servlet-name>
	  <servlet-class>com.imut.servlet.arrange.CheckArrangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>checkArrange</servlet-name>
	  <url-pattern>/arrange/checkArrangeServlet</url-pattern>
	</servlet-mapping>
  <!-- 配置过滤器 -->
  <filter>
	<filter-name>login</filter-name>
	<filter-class>com.imut.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>login</filter-name>
	<url-pattern>/person/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>admin</filter-name>
	<filter-class>com.imut.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>admin</filter-name>
	<url-pattern>/base/*</url-pattern>
  </filter-mapping>
  <!-- 配置监听器 -->
  <listener>
	<listener-class>com.imut.listener.CountListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
